body, html{
  height: 100%; 
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;

  background-image: url("dancerPictures/discoBackground.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 1600px 1000px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  position: absolute;
  height: 100px;
  
  content: url("http://officialpsds.com/images/thumbs/Street-Dancer-psd26039.png");
}

/* ===================
Dancer images
=================== */ 

/*.dancerImage {
  background-size: 100px 20px;
  background-repeat: no-repeat
}*/

#blinky

#breakDancer {
  content: url("dancerPictures/breakDancer.png");
}
.colorDancer {
  content: url("dancerPictures/breakDancer.png");
}

