/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -------------
 Styling
---------------*/

body, html{
  height: 100%; 
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;

  background-image: url("dancerPictures/discoBackground.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 1600px 1000px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  position: absolute;
  height: 100px;
  
  content: url("http://officialpsds.com/images/thumbs/Street-Dancer-psd26039.png");
}

/* ===================
Dancer images
=================== */ 

/*.dancerImage {
  background-size: 100px 20px;
  background-repeat: no-repeat
}

#blinky {}
.
*/


.breakDancer {
  content: url("dancerPictures/breakDancer.png");
  
}
.colorDancer {
  content: url("dancerPictures/colorDancer.png");

  
}



.grayscale {
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
}

.contrast {
  -webkit-filter: contrast(160%); 
  filter: contrast(160%);
}
.brightness {-webkit-filter: brightness(0.25); filter: brightness(0.25);}
.blur {-webkit-filter: blur(3px); filter: blur(3px);}
.invert {-webkit-filter: invert(100%); filter: invert(100%);}

.huerotate {
  -webkit-filter: hue-rotate(180deg); filter: hue-rotate(180deg);}
.sepia {
  -webkit-filter: sepia(100%); filter: sepia(100%);}











